@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu&display=swap');

:root {
    --color1: #E7ECEF;
    --color2: #001732;
    --color3: #6096BA;
    --color4: #A3CEF1;
}

/* Genaral */

body {
    background-color: var(--color2);
    color: var(--color1);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dashBoard,
.add,
.history {
    display: flex;
    border: 1px solid;
    border-radius: 20px;
    margin: 10px;
}

.dashBoard {
    flex-direction: row;
}

.history {
    flex-direction: column;
}

.dashBoard>div,
.history>div {
    flex-grow: 1;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    color: black;
}

/* DashBoard */

.income {
    background-color: #9df79d;
    box-shadow: 0 0 10px #9df79d;
}

.expense {
    background-color: #f79d9d;
    box-shadow: 0 0 10px #f79d9d;
}

.balence {
    background-color: #fff587;
    box-shadow: 0 0 10px #fff587;
}

/* Add new item */

.add {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 230px;
    overflow: hidden;
}

@media screen and (min-width: 1000px) {
    .add {
        margin-inline: 20%;
    }
}

.add h2 {
    text-align: center;
}

.add div {
    margin: 10px;
}

.add label {
    display: inline-block;
    min-width: 100px;
    padding-right: 10px;
}

.add select,
.add input {
    width: 200px;
    box-sizing: border-box;
    height: 20px;
    border: none;
    border-radius: 10px;
    padding-inline: 10px;
}

.add select:focus,
.add input:focus {
    box-shadow: 0 0 10px #ffffff;
    outline: none;
}

.btnArray button {
    padding: 5px;
    width: 100px;
    border: solid;
    border-radius: 10px;
    font-family: "Poetsen One", sans-serif;
    box-shadow: 0 0 5px #ffffff;
    margin: 10px;
}

.btnArray button:hover {
    box-shadow: 0 0 10px #ffffff;
}

.btnArray {
    display: flex;
    justify-content: center;
}


.toggleBtnArray {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0;
    width: 100%;
    transform: translateY(-20px);
}

.toggleBtn {
    font-size: 20px;
    margin: 0;
    border: none;
    width: 100%;
    flex-grow: 1;
    background-color: var(--color2);
    color: var(--color1);
    border-radius: 10px;
    cursor: pointer;
    border-bottom: 2px solid var(--color1);
}

.toggleBtn::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: linear-gradient(to right, var(--color2), transparent, var(--color2));
}

.toggleBtn-income {
    border-radius: 10px 0 0 0;
    border-right: 1px solid var(--color1);
}

.toggleBtn-expense {
    border-radius: 0 10px 0 0;
    border-left: 1px solid var(--color1);
}

.add form{
    position: absolute;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
}

.addIncome {
    transform: translate(-50%, 15px) scaleX(0);
}

.addExpense {
    transform: translate(50%, 15px) scaleX(0);
}

.add form.active {
    transform: translate(0, 15px) scaleX(1);
    opacity: 1;
}

/* History */

.history>div {
    background-color: var(--color2);
    color: var(--color1);
    display: flex;
    height: 120px;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .history>div {
        display: block;
        height: auto;
    }

}

.history>div>div {
    margin-inline: 10px;
    flex-grow: 1;
}

.history .col1 h3,
.history .col1 h4,
.history .col1 h2 {
    padding-inline: 10px;
    margin-block: 15px 0;
}

@media screen and (min-width: 800px) {
    .history .col1 h2 {
        margin-block: 25px;
    }

    .col1 {
        transform: translateY(-28px);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--color2) 10%, var(--color2) 90%, rgba(0, 0, 0, 0) 100%);
        border-radius: 10px;
        min-width: 400px;
    }
}

.history p {
    text-align: center;
    height: 40%;
    margin-bottom: 0;
    overflow: auto;
    scrollbar-width: none;
}

.history>h2 {
    text-align: center;
    margin: 10px;
}

.col1 h3 {
    text-wrap: nowrap;
}

.incomeItem {
    border: 2px solid #9df79d;
    box-shadow: 0 0 10px #9df79d;
}

.expenseItem {
    border: 2px solid #f79d9d;
    box-shadow: 0 0 10px #f79d9d;
}

.incomeItem h3 {
    color: #9df79d;
}

.expenseItem h3 {
    color: #f79d9d;
}